<%- user = UserDecorator.decorate message.user %>
<tr>
  <td style="width: 40px"><%= user.avatar_with_link(:size_40_40) %></td>
  <td>
    <%= simple_format message.content %>
    <p style="font-size: smaller"><%= time_ago_in_words(message.created_at) %></p>
  </td>
  <td style="width: 80px">
    <%- if message.user == current_user %>
    <%= link_to I18n.t("words.delete"), message_thread_message_path(message.message_thread, message), method: :delete, class: "btn btn-danger", id: "delete_message_#{message.id}" %>
    <%- end %>
  </td>
</tr>
