(function($) {
  $("#message_content").focus();
  $("form.new_message .alert").remove();
})(jQuery);
<%- if @message.valid? %>
  (function($) {
    $("#message_content").val("");
    $message = $("<%= j render(@message) %>").hide();
    $("#messages-table tbody").prepend($message);
    $message.fadeIn();
  })(jQuery);
<%- else %>
  (function($) {
    $notice = $("<div class=\"alert alert-error fade in\"><a class=\"close\" data-dismiss=\"alert\">&times;</a><p><%= @message.errors[:content].join %></p></div>").hide();
    $("#message_content").after($notice);
    $notice.fadeIn();
  })(jQuery);
<%- end %>