<%= simple_form_for [:user, @virtual_church], namespace: "virtual-church", html: { class: "form-horizontal" } do |f| %>
  <%= flush_flash :church_form, :using => "shared/site_messages_template" %>
  <%= f.input :name, autofocus: true, input_html: { class: "input-xlarge" } %>
  <%= f.input :description, input_html: { rows: 12, class: "input-xlarge" } %>

  <div class="form-actions">
    <%= f.button :submit, t("words.save"), :class => 'btn-primary' %>
  </div>
<%- end %>
