<div class="page-header">
  <h1>
    <%= t("words.virtual_churches") %>
    <small><%= link_to t("words.new"), new_user_virtual_church_path, class: "btn btn-primary" %></small>
  </h1>
</div>

<h2><%= t("users.virtual_churches.index.titles.owned_virtual_churches") %></h2>

<table id="owned-churches" class="table table-striped">
  <tbody>
    <%- @owned_virtual_churches.each do |vc| %>
      <tr>
        <td style="width: 120px"><%= link_to vc.name, virtual_church_path(vc) %></td>
        <td><%= simple_format vc.description %></td>
        <td>
          <%= link_to t("words.edit"), edit_user_virtual_church_path(vc), class: "btn" %>
          <%= link_to t("words.delete"), user_virtual_church_path(vc), method: :delete, class: "btn btn-danger", confirm: "Are you sure?" %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>

<h2><%= t("users.virtual_churches.index.titles.joined_virtual_churches") %></h2>

<table id="owned-churches" class="table table-striped">
  <tbody>
    <%- @memberships.each do |membership| %>
      <%- vc = membership.virtual_church %>
      <tr>
        <td style="width: 120px"><%= link_to vc.name, virtual_church_path(vc) %></td>
        <td><%= simple_format vc.description %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
