<h1><%= t(".title") %></h1>

<%= simple_form_for Identity.new(auth_key: params[:auth_key]), url: login_handle_path(provider: "identity"), namespace: "login", html: { class: "form-horizontal" } do |f| %>
  <%= flush_flash :login_form, :using => "shared/site_messages_template" %>

  <%= f.input :auth_key, input_html: { name: :auth_key }, autofocus: true %>
  <%= f.input :password, input_html: { name: :password } %>

  <%- %w(facebook twitter).each do |provider| %>
    <div class="control-group optional">
      <div class="controls">
        <%= link_to "/auth/#{provider}", class: "btn" do %>
          <%= image_tag "icons/#{provider}.gif" %> <%= t("providers.#{provider}") %>
        <%- end %>
      </div>
    </div>
  <%- end %>

  <div class="form-actions">
    <%= f.button :submit, t("words.signin"), :class => 'btn-primary' %>
    <%= link_to t("sessions_registrations.goto.forgot_password").html_safe, [:new, :identity, :password], class: "btn" %>
    <%= link_to t("sessions_registrations.goto.register").html_safe, [:new, :identity], class: "btn" %>
  </div>
<%- end %>
