<%= simple_form_for Note.new, html: { class: "form-horizontal", style: "margin: 0" } do |f| %>
  <div style="margin:0;padding:0;display:inline">
    <input id="modal-model_chosen" name="modal_chosen" type="hidden" value="share" />
    <div class="modal-attrs"></div>
  </div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= I18n.t("notes-modal.add_note") %></h3>
  </div>
  <div class="modal-body">
    <div class="modal-verse">
      <blockquote>
        Placeholder for the verse content<br>
        <cite style="line-height: 24px"><span class="label notice verse-label">Ver 1:2-3</span></cite>
      </blockquote>
    </div>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <%# Tab Label here %>
        <li class="active">
          <%= link_to I18n.t("notes-modal.tabs.share"), "#modal-note-share", data: { toggle: "tab", :"modal-chosen" => "share"} %>
        </li>
        <li>
          <%= link_to I18n.t("notes-modal.tabs.note"), "#modal-note-note", data: { toggle: "tab", :"modal-chosen" => "note" } %>
        </li>
        <li>
          <%= link_to I18n.t("notes-modal.tabs.map"), "#modal-note-map", data: { toggle: "tab", :"modal-chosen" => "map" } %>
        </li>
      </ul>
      <div class="tab-content">
        <%# Tab Content here%>
        <div class="tab-pane active" id="modal-note-share">
          <%= f.fields_for NoteShare.new do |f| %>
            <%= f.input :content, as: :text, input_html: { id: "note_share-content", name: "note_share[content]", class: "input-xlarge", rows: 5 }, autofocus: true %>
          <%- end %>
        </div>
        <div class="tab-pane" id="modal-note-note">
          <%= f.fields_for NoteNote.new do |f| %>
            <%= f.input :title, input_html: { id: "note_note-title", name: "note_note[title]", class: "input-xlarge" } %>
            <%= f.input :content, as: :text, input_html: { id: "note_note-content", name: "note_note[content]", class: "input-xlarge", rows: 5 } %>
          <%- end %>
        </div>
        <div class="tab-pane" id="modal-note-map">
          <%= f.fields_for NoteMap.new do |f| %>
            <%= gmaps4rails(@json) %>
            <%= f.input :latitude, as: :hidden %>
            <%= f.input :longitude, as: :hidden %>
            <%= f.input :zoom, as: :hidden %>
          <%- end %>
        </div>
      </div>
    </div>
    <%= f.input :label_color, collection: LabelColor.all, as: :radio_buttons, label_method: :name, value_method: :value %>
  </div>
  <div class="modal-footer">
    <input class="btn btn-primary" name="commit" type="submit" value="<%= I18n.t("words.save") %>" />
    <a href="#" onclick="MODAL.modal('hide'); return false" class="btn"><%= I18n.t("words.cancel") %></a>
  </div>
<%- end %>