<div class="page-header">
  <h1>
    <%= t("words.messages") %>
    <small><%= link_to t("words.new"), new_message_thread_path, class: "btn btn-primary" %></small>
  </h1>
</div>

<table id="message-threads" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width: 120px"><%= t("messages.index.titles.users") %></th>
      <th><%= t("messages.index.titles.latest_message") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @message_threads.each do |message_thread| %>
      <%-
        users = UserDecorator.decorate message_thread.users.exclude(current_user)
        users = UserDecorator.decorate [current_user] if users.blank?
        latest_message = message_thread.messages.latest(1).first
        latest_message_user = UserDecorator.decorate latest_message.try(:user)
      %>
      <tr>
        <td style="overflow: hidden">
          <%= users.map { |user| user.avatar_with_link(:size_40_40, {class: "pull-left"}) }.join.html_safe %>
        </td>
        <td style="overflow: hidden">
          <%- if latest_message %>
            <%= latest_message_user.avatar_with_link(:size_40_40, {class: "pull-left"} ) %>
            <blockquote class="pull-left" style="margin-left: 10px">
              <%= simple_format(latest_message.content.truncate(30)) %>
              <p style="font-size: smaller"><%= time_ago_in_words(latest_message.created_at) %></p>
            </blockquote>
          <%- end %>
        </td>
        <td>
          <%= link_to t("words.read"), message_thread_path(message_thread), class: "btn" %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>
