<div class="page-header">
  <h1>
    <%= t("messages.new.title") %>
  </h1>
</div>

<%= simple_form_for @message_thread, html: { class: "form-horizontal new_message" } do |f| %>
  <fieldset>
    <legend>Friends you are following</legend>
    <div class="friends-checker">
      <%= f.association :users, collection: @following_friends, as: :check_boxes, label: I18n.t("messages.index.titles.users"), label_method: lambda { |user|
        user = UserDecorator.new(user)
        user.avatar_with_fake_link(:size_40_40, data: { checking: "message_thread_user_ids_#{user.id}" } )
      } %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Friends who are following you</legend>
    <div class="friends-checker">
      <%= f.association :users, collection: @friends_following_me, as: :check_boxes, label: I18n.t("messages.index.titles.users"), label_method: lambda { |user|
        user = UserDecorator.new(user)
        user.avatar_with_fake_link(:size_40_40, data: { checking: "message_thread_user_ids_#{user.id}" } )
      } %>
    </div>
  </fieldset>
  <%= f.fields_for :messages do |ff| %>
  <%= ff.input :content, label: Message.human_attribute_name(:content) %>
  <%- end %>

  <div class="form-actions">
    <%= f.button :submit, t("words.save"), :class => 'btn-primary' %>
  </div>
<%- end %>