<div class="page-header">
  <h1>
    <%= t("words.messages") %>
    <small><%= t("messages.index.titles.users") %> <%= @users.map(&:display_name).to_sentence %></small>
  </h1>
</div>

<%= simple_form_for [@message_thread, Message.new], remote: true, html: { class: "form-horizontal new_message" } do |f| %>
  <%= f.input :content, autofocus: true, input_html: { class: "input-xlarge", rows: 3 } %>
  <div class="form-actions">
    <%= f.button :submit, t("words.send"), :class => 'btn-primary' %>
  </div>
<%- end %>

<%- reversed_messages = @messages.reverse %>
<table id="messages-table" class="table table-striped">
  <tbody>
    <%= render reversed_messages %>
  </tbody>
</table>

<%= paginate @messages %>
