<div class="page-header">
  <h1><%= t(".title", name: @virtual_church.name).html_safe %></h1>
</div>

<%= simple_form_for @virtual_church, html: { class: "form-horizontal" } do |f| %>
  <%= flush_flash :edit_virtual_church_form, :using => "shared/site_messages_template" %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :description %>

  <div class="form-actions">
    <%= f.button :submit, t("words.save"), :class => 'btn-primary' %>
    <%= link_to t("words.cancel"), virtual_church_path(@virtual_church) %>
  </div>
<%- end %>
