<div class="page-header">
  <h1><%= t(".title").html_safe %></h1>
</div>

<%= simple_form_for @user, html: { class: "form-horizontal", multiport: true } do |f| %>
  <%= flush_flash :update_user_form, :using => "shared/site_messages_template" %>
  <%= f.input :display_name, autofocus: true %>
  <%= f.input :email %>
  <%= f.input :avatar, hint: image_tag(@user.avatar.url(:size_40_40)) %>

  <div class="form-actions">
    <%= f.button :submit, t("words.save"), :class => 'btn-primary' %>
    <%= link_to t("words.cancel"), user_profile_path(@user) %>
  </div>
<%- end %>
