<div class="page-header">
  <h1>
    <%= t(".title", name: h(@user.display_name)).html_safe %>
  </h1>
</div>

<ul class="unstyled">
	<li><span class="label" style="line-height: 40px"><%= User.human_attribute_name(:avatar) %></span> <%= image_tag @user.avatar_url(:size_40_40), style: "vertical-align: bottom" %></li>
  <li><span class="label"><%= User.human_attribute_name(:display_name) %></span> <%= @user.display_name %></li>
  <li><span class="label"><%= User.human_attribute_name(:email) %></span> <%= @user.email %></li>
  <li><span class="label"><%= User.human_attribute_name(:chosen_locale_code) %></span> <%= t("locales.#{@user.chosen_locale_code}") %></li>
</ul>

<%= render partial: "shared/timeline", locals: { notes: @notes } %>
