<h1><%= t(".title") %></h1>

<%= simple_form_for @identity, url: identity_password_path, method: :put, namespace: "forget_password", html: { class: "form-horizontal" } do |f| %>
  <%= flush_flash :reset_password_form, :using => "shared/site_messages_template" %>

  <%= f.input :password, input_html: { name: :password }, autofocus: true %>
  <%= f.input :password_confirmation, input_html: { name: :password_confirmation } %>

  <div class="form-actions">
    <%= f.button :submit, t("words.save"), :class => 'btn-primary' %>
  </div>
<%- end %>
