<h1><%= t(".title") %></h1>

<%= simple_form_for Identity.new(email: params[:email]), url: identity_passwords_path, namespace: "forget_password", html: { class: "form-horizontal" } do |f| %>
  <%= flush_flash :reset_password_form, :using => "shared/site_messages_template" %>

  <%= f.input :email, input_html: { name: :email }, autofocus: true %>

  <div class="form-actions">
    <%= f.button :submit, t("words.send"), :class => 'btn-primary' %>
    <%= link_to t("sessions_registrations.goto.login").html_safe, :login, class: "btn" %>
    <%= link_to t("sessions_registrations.goto.register").html_safe, [:new, :identity], class: "btn" %>
  </div>
<%- end %>
