<%- if chosen_bible.present? %>
  <section>
    <h2><%= chosen_bible.name %></h2>
    <div class="row">
      <%- chosen_bible.testaments.each do |testament| %>
        <div class="span2">
          <h3><%= testament.name %></h3>
          <ul class="unstyled">
            <%- testament.books.each do |book| %>
              <li>
                <%= link_to book.name, chapter_path(book.to_chapter_path_hash), rel: "tooltip", title: t(".read", name: t("bibles.formats.verse", book_name: book.name, chapter: 1, verse: 1)) %>
              </li>
            <%- end %>
          </ul>
        </div>
      <%- end %>
    </div>
  </section>
<%- end %>
