<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(".title") %></a>
<ul class="dropdown-menu">
  <li><%= link_to t(".chosen", name: chosen_bible.name), "?choose_bible=#{chosen_bible.bible_code}"%></li>
  <li class="divider"></li>
  <%- available_bibles.each do |bible| %>
    <li><%= link_to bible.name, "?choose_bible=#{bible.bible_code}"%></li>
  <%- end %>
</ul>
