<footer class="footer" style="background: #333">
  <div class="container">
    <p class="pull-left">
      <%= copyright %> |
      <%= link_to t(".about"), :about, target: "_blank" %>
    </p>
    <p class="pull-right">
      <%= link_to t(".back_to_top"), "#" %>
    </p>
  </div>
</footer>

<%= javascript_include_tag "application" %>
