<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<%= csrf_meta_tags %>
<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title><%= t("site.name") %></title>

<%= stylesheet_link_tag    "application" %>
