<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(".title") %></a>
<ul class="dropdown-menu">
  <li><%= link_to t(".chosen", name: chosen_locale.name), "?locale=#{chosen_locale.locale_code}" %></li>
  <li class="divider"></li>
  <%- available_locales.each do |locale| %>
    <li><%= link_to locale.name, "?locale=#{locale.locale_code}"%></li>
  <%- end %>
</ul>
