<%- messages.each do |message| %>
  <%-
    message_type = case message[:message_type]
    when :success
      "alert-success"
    when :failure
      "alert-error"
    when :warning
      ""
    when :info
      "alert-info"
    else
      "alert-error"
    end

    classes = ["alert", message_type, "alert-block", "fade in"].compact.join(" ")
  %>
  <div class="<%= classes %>">
    <a class="close" data-dismiss="alert">&times;</a>
    <p><%= message[:content].html_safe %></p>
  </div>
<%- end %>
