<section>
  <div class="page-header" style="margin-bottom: 0">
    <h1><small><%= t("timeline.title") %></small></h1>
  </div>

  <%= render partial: notes, as: :note %>
  <%= paginate(notes) %>
</section>