<div class="navbar navbar-fixed-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <h3><%= link_to t("site.name"), :root, class: "brand" %></h3>
      <div class="nav-collapse">
        <ul class="nav pull-left">
          <li><%= registration_profile_link %></li>
          <%- if logged_in? %>
          <li><%= link_to t("words.messages"), message_threads_path %></li>
          <li><%= link_to t("words.virtual_churches"), user_virtual_churches_path %></li>
          <%- end %>
          <li><%= sign_in_out_link %></li>
        </ul>
        <ul class="nav secondary-nav pull-right">
          <li class="dropdown"><%= render partial: "shared/bibles_choser" %></li>
          <li class="dropdown"><%= render partial: "shared/locales_choser" %></li>
        </ul>
        <%= form_tag search_user_path, method: :get, class: "navbar-form pull-right", id: "search-user-form" do |f| %>
          <%= text_field_tag "search_user_email", params[:search_user_email], class: "search-query span2", placeholder: "Search User by Email" %>
          <%= submit_tag nil, value: "commit", style: "position: absolute; left: -9999px; width: 1px; height: 1px;" %>
        <%- end %>
        <%= form_tag search_church_path, method: :get, class: "navbar-form pull-right", id: "search-church-form" do |f| %>
        <%= text_field_tag "search_church_name", params[:search_church_name], class: "search-query span2", placeholder: "Search Church by Name" %>
          <%= submit_tag nil, value: "commit", style: "position: absolute; left: -9999px; width: 1px; height: 1px;" %>
        <%- end %>
      </div>
    </div>
  </div>
</div>
