<%- if defined?(user) %>
  <section>
    <div class="page-header">
      <h1>
        <%= user.display_name %>
        <%= follow_button(user) %>
        <%- if logged_in? && user == current_user %>
        <%= link_to t("words.edit"), edit_user_path, class: "btn btn-mini btn-primary" %>
          <%= link_to t("words.unregister"), user_path, method: :delete, confirm: t("words.confirm_delete"), class: "btn btn-mini btn-danger", id: "destroy_user" %>
        <%- end %>
      </h1>
    </div>

    <div class="rows">
      <h4><%= t(".subtitles.owned_virtual_churches") %></h4>
      <ul>
        <%- if user.owned_virtual_churches.any? %>
          <%- user.owned_virtual_churches.each do |virtual_church| %>
            <li><%= link_to virtual_church.name, virtual_church_path(virtual_church) %></li>
          <%- end %>
        <%- else %>
          <li><%= t("words.not_yet") %></li>
        <%- end %>
      </ul>
    </div>

    <div class="rows">
      <h4><%= t(".subtitles.joined_virtual_churches") %></h4>
      <ul>
        <%- if user.memberships.any? %>
          <%- user.memberships.each do |membership| %>
            <li><%= link_to membership.virtual_church.name, virtual_church_path(membership.virtual_church) %></li>
          <%- end %>
        <%- else %>
          <li><%= t("words.not_yet") %></li>
        <%- end %>
      </ul>
    </div>

    <div class="rows">
      <h4><%= t(".subtitles.following_users") %></h4>
      <ul>
        <%- if user.followships.any? %>
          <%- user.followships.each do |followship| %>
            <li><%= link_to followship.following_user.display_name, user_profile_path(followship.following_user) %></li>
          <%- end %>
        <%- else %>
          <li><%= t("words.not_yet") %></li>
        <%- end%>
      </ul>
    </div>

    <div class="rows">
      <h4><%= t(".subtitles.followed_by_users") %></h4>
      <ul>
        <%- if user.passive_followships.any? %>
          <%- user.passive_followships.each do |followship| %>
            <li><%= link_to followship.user.display_name, user_profile_path(followship.user) %></li>
          <%- end %>
        <%- else %>
          <li><%= t("words.not_yet") %></li>
        <%- end %>
      </ul>
    </div>
  </section>
<%- end %>