<%- if defined?(virtual_church) %>
  <section>
    <div class="page-header">
      <h1>
        <%= virtual_church.name %>
        <%= join_button(virtual_church) %>
        
        <%- if logged_in? && current_user.owned?(virtual_church) %>
          <%= link_to(t("words.edit"), [:edit, virtual_church], class: "btn small") %>
          <%= link_to t("words.unregister"), virtual_church_path(@virtual_church), method: :delete, confirm: t("words.confirm_delete"), class: "btn danger small" %>
        <%- end %>
      </h1>
    </div>
    
    <div class="rows">
      <div>
        <span class="label normal-label"><%= t(".meta.creator") %></span> <%= link_to virtual_church.creator.display_name, virtual_church.creator %>
      </div>
      <div>
        <span class="label normal-label"><%= t(".meta.description") %></span> <%= simple_format virtual_church.description %>
      </div>
      
      <h2><%= t(".subtitles.users_joined") %></h2>
      <ul>
        <%- if virtual_church.memberships.any? %>
          <%- virtual_church.memberships.each do |membership| %>
            <li><%= link_to membership.user.display_name, user_profile_path(membership.user) %></li>
          <%- end %>
        <%- else %>
          <li><%= t("words.not_yet") %></li>
        <%- end %>
      </ul>
    </div>
  </section>
<%- end %>
