<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have forgotten your password, <%= @display_name %></h1>
	<p>
		You could visit the following path to update your password: <%= link_to @url, @url %>
	</p>
	<p>
		If you did not do the request, just ignore this email and the above link will become invalid after 2 days :)
	</p>
    <p>Thanks for using and have a great day!</p>
  </body>
</html>