<%= gmaps map_options: { center_latitude: 22.314508, center_longitude: 114.165802, zoom: 9 } %>

<% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
        var markersArray = [];
        // On click, clear markers, place a new one, update coordinates in the form
        Gmaps.map.callback = function() {
            google.maps.event.addListener(Gmaps.map.map, 'click', function(event) {
              clearOverlays();
              placeMarker(event.latLng);
              updateFormLocation(event.latLng);
            });

            placeMarker(new google.maps.LatLng(22.314508, 114.165802));
        };
        // Update form attributes with given coordinates
        function updateFormLocation(latLng) {
            $("#<%= @lat %>", parent.document.body).val(latLng.lat());
            $("#<%= @lng %>", parent.document.body).val(latLng.lng());
            $("#<%= @zoom %>", parent.document.body).val(Gmaps.map.map.getZoom());
        }
        // Add a marker with an open infowindow
        function placeMarker(latLng) {
            var marker = new google.maps.Marker({
                position: latLng, 
                map: Gmaps.map.map,
                draggable: true
            });
            markersArray.push(marker);
            // Listen to drag & drop
            google.maps.event.addListener(marker, 'dragend', function() {
                updateFormLocation(this.getPosition());
            });
        }
        // Removes the overlays from the map
        function clearOverlays() {
          if (markersArray) {
            for (var i = 0; i < markersArray.length; i++ ) {
              markersArray[i].setMap(null);
            }
          }
          markersArray.length = 0;
        }
    </script>
<% end %>