<div class="page-header">
  <h1>
    <%= t("words.search_results") %>
  </h1>
</div>

<table id="owned-churches" class="table table-striped">
  <tbody>
    <%- if @virtual_churches.count > 0 %>
      <%- @virtual_churches.each do |vc| %>
        <tr>
          <td style="width: 120px">
            <%= link_to vc.name, virtual_church_path(vc) %>
            <%- if logged_in? && current_user.joined?(vc) %>
            <span class="label"><%= t("words.joined") %></span>
            <%- end %>
          </td>
          <td><%= simple_format vc.description %></td>
        </tr>
      <%- end %>
    <%- else %>
      <tr>
        <td><%= t("words.no_result") %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
