<section>
  <div class="page-header">
    <h1><%= t(".title", book_name: @verse.book.name, chapter: @verse.chapter, verse: @verse.verse).html_safe %></h1>
  </div>

  <blockquote>
    <%= @verse.content %>
  </blockquote>

  <h3>Notes</h3>

  <%= render partial: @notes, as: :note %>
  <%= paginate(@notes) %>
</section>
