<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>

<%- li_classes = ["prev", current_page.first? ? "disabled" : nil].compact.join(" ") %>

<li class="<%= li_classes %>"><%= link_to raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote %></li>