<h1><%= t(".title") %></h1>

<%= simple_form_for @identity, url: "/auth/identity/register", namespace: "registration", html: { class: "form-horizontal" } do |f| %>
  <%= flush_flash :registration_form, using: "shared/site_messages_template" %>

  <%= f.input :name, input_html: { name: :name }, autofocus: (@identity.errors.blank? || @identity.errors[:name].any?) %>
  <%= f.input :email, input_html: { name: :email }, required: true, hint: t("identities.new.notes.email"), autofocus: (@identity.errors[:name].blank? && @identity.errors[:email].any?) %>
  <%= f.input :password, input_html: { name: :password }, required: true, autofocus: (@identity.errors[:name].blank? && @identity.errors[:email].blank? && (@identity.errors[:password].any? || @identity.errors[:password_confirmation].any?)) %>
  <%= f.input :password_confirmation, input_html: { name: :password_confirmation } %>

  <div class="form-actions">
    <%= f.button :submit, t("words.register"), :class => 'btn-primary' %>
    <%= link_to t("sessions_registrations.goto.login").html_safe, :login, class: "btn" %>
    <%= link_to t("sessions_registrations.goto.forgot_password").html_safe, [:new, :identity, :password], class: "btn" %>
  </div>
<%- end %>
