/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require_tree ./jquery
 *= require gmaps4rails
 *= require_self
*/

a.fake-link {
  cursor: normal;
}

footer {
  color: #aaa;
  padding: 20px 0 80px;
}

.normal-label, .verse-label {
  text-transform: none;
  white-space: nowrap;
}
.verse-label {
  margin-right: 3px;
}

.highlightable {
  font-size: 14px;
}
.highlightable li {
  line-height: 22px;
  word-wrap: break-word;
  width: 580px;
}

.map_container img {
  max-width: none;
}

figure.polaroid {
  background-color: #fbfbfb;
  border: 2px solid #eee;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display: inline-block;
  padding: 12px;
}
figure.polaroid {
  *display: inline;
}
figure.polaroid img {
  margin-bottom: 12px;
}

figure.polaroid figcaption {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.friends-checker label.checkbox {
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display: inline-block;
  margin: 6px 6px 0 0;
  padding: 6px 12px 0 26px;
  vertical-align: middle;
}
.friends-checker label.checkbox:hover {
  background-color: #fbfbfb;
}