/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree ./jquery
 *= require gmaps4rails
 *= require_self
*/

.map_container {
  width: 480px;
  height: 320px;
}

.gmaps4rails_map {
  width: 480px;
  height: 320px;
}