<%- user = UserDecorator.new(note.user) %>
<section style="margin-top: 16px; padding-bottom: 12px; border-bottom: 1px solid #eee">
  <div class="row">
    <div class="span1">
      <%= user.avatar_with_link(:size_40_40) %>
    </div>
    <div class="span7">
      <blockquote>
        <%= note.verse_content %><br>
        <cite style="line-height: 24px"><span class="label notice verse-label"><%= note.verse_name %></span></cite>
      </blockquote>
    </div>
  </div>

  <%= yield %>

  <div>
    <%- if logged_in? && note.user == current_user %>
      <%= link_to t("words.delete"), note_path(note), method: :delete, class: "btn btn-danger btn-mini" %>
    <%- end %>
    <%= time_ago_in_words(note.created_at) %>
  </div>
</section>
