<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render partial: "shared/head" %>
  <%= yield :head %>
</head>
<body>
  <%= render partial: "shared/topbar" %>

  <div class="container">
    <%- if request.url == root_url %>
      <div class="hero-unit">
        <h1><%= t("site.name") %></h1>
        <p><%= t("site.description") %></p>
      </div>
    <%- end %>

    <%= render partial: "shared/site_messages" %>

    <div class="row">
      <div class="span4">
        <%= render partial: "shared/all_books" %>
      </div>
      <div class="span8">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/footer" %>
  <%= yield :footer %>
  <%= yield :scripts %>
</body>
</html>
