<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render partial: "shared/head" %>
  <%= yield :head %>
</head>
<body>
  <%= render partial: "shared/topbar" %>

  <div class="container">
    <%= render partial: "shared/site_messages" %>

    <div class="row">
      <div class="span4">
        <%= render partial: "shared/virtual_church_profile", locals: { virtual_church: @virtual_church } %>
      </div>
      <div class="span8">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/footer" %>
  <%= yield :scripts %>
</body>
</html>
